#sidebar {
	position: fixed;
	width: 5%;
	height: 100%;
	
	-webkit-transition: width 0.5s;
	
	transition: width 0.5s;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #A9B7C0;
}
.content {
	border-style: dotted;
	margin-left: 30.5%;
}
.aboutme {
	background-color: aquamarine;
}
.intro {
	background: -webkit-linear-gradient(to left, #2BC0E4, #EAECC6);
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(right, #2BC0E4, #EAECC6);
	background: linear-gradient(to left, #2BC0E4, #EAECC6);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: absolute;
	width: 100%;
	height: 100%;
}
.navtitle {
	position: fixed;
	width: 30%;
	height: 100%;
}
.abcen1 {
	position: absolute;
	top: 20%;
}
.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}
.h1_home {
	font-size: 80px;
	font-family: lato;
	font-weight: 700;
	letter-spacing: 3px;
	color: #4A4A4A;
}
.h3_home {
	font-weight: 300;
}
.thin_italic {
	font-weight: 100;
	letter-spacing: 6px;
}
.abcen {
	position: absolute;
	bottom: 8%;
}
.button_down {
	display: none
}
.my-animation {
	-webkit-animation: my-animation 1s linear both;
	animation: my-animation 1s linear both;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.contain {
	width: inherit;
	height: inherit;
	text-align: center;
}
#progressBar {
	position: fixed;
	width: 100%;
	height: 2%;
	top: 0;
	left: 0;
	z-index: 5000;
	-webkit-transition: width 2s;
	-webkit-transition: 0.5s width;
	transition: 0.5s width;
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}
.witty-text {
  padding-top: 4%;
  padding-bottom: 2%;
  margin-left: 30%;
	font-family: lato;
	font-size: 5em;
	font-weight: 900;
	color: #4A4A4A;
	letter-spacing: 8.61px;
	line-height: 85px;
}
.content-header {
	position: absolute;
	top: 10%;
}
.slide-container {
	width: 50%;
}
#scrollmouse {
	width: 3vw;
}
.resume {
	position: absolute;
	top: 40%;
	left: 50%;
}
#resume-png {
	-webkit-transition: all 1s;
	transition: all 1s;
	border-radius: 25px;
}
#resume-png:hover {
	-webkit-transform: translate(-40px, -40px);
	        transform: translate(-40px, -40px);
	box-shadow: 27px 27px 0px 1px rgba(49, 50, 50, 0.24);
	border-radius: 25px;
}

.content-text {
  padding-top: 5vh;
  padding-bottom: 15vh;
  margin-left:30%;
  padding-right: 3%;
font-family: Lato-Light;
font-size: 1.6em;
color: #4A4A4A;
  line-height: inherit;

}

p {
  padding: 0;
  margin: 0;
}
