main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.border {
    border: 0.8rem solid #A9B7C0;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    article {
        flex: 1;
    }
}

.project-title {
    display: block;
    float: left;
    padding-bottom: 4rem;
}

.project-title {
    font-family: lato;
    font-size: 5em;
    font-weight: 700;
    color: #4A4A4A;
    /* letter-spacing: 8.61px; */
    line-height: 85px;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #4A4A4A;
    line-height: inherit;
    font-weight: 300;
    margin-bottom: 2rem;
}

.table {
    margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
    .content {
        padding-right: 1rem;
    }
    .table {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 800px) {
    /* Percentage width values */
    ._47 {
        flex: 4.7;
    }
    ._55 {
        flex: 5.5;
    }
    ._20 {
        flex: 2;
    }
}

.item-block {
    display: flex;
    border-bottom: 1px solid #111010;
    padding: 30px 0 10px;
}

.gutterless {
    margin-left: -2rem;
    margin-right: -2rem;
}

.table .header {
    font-family: lato;
    font-size: 1.3em;
    color: #4A4A4A;
    line-height: inherit;
    font-weight: 600;
    border-bottom: 2px solid #111010;
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
    display: block;
}

.item-block .title {
    width: 30%;
    font-family: lato;
    font-size: 1.3em;
    color: #4A4A4A;
    line-height: inherit;
    font-weight: 100;
}

.item-block .value {
    width: 70%;
    font-family: lato;
    font-size: 1.3em;
    color: #4A4A4A;
    line-height: inherit;
    font-weight: 400;
}

.responsive-image {
    max-width: 100%;
    margin-bottom: 2rem;
}