



.wrapper {
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:5000;
    background-color: beige;
    
}

body {
    padding: 0;
    margin: 0;
}



#overlay-screen {
    position: absolute;
    top:0;
    left:0;
    height:561px;
    width:405px;
    background-color: #A9B7C0;
    opacity:0;
    transition: opacity 0.5s 2s,height 2s 2s, width 2s 2s;
    
}

#hidden {
    visibility: hidden;
}
